/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*  {
    box-sizing: border-box;
    width: 100%;
    /*border: 1px grey solid;*/
}

body  {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 62.5%;
}

.nav-cont {
    margin: 1% auto;
}

.nav {
    height: 20vh; 
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 2% auto;
}

.nav a {
    color: #FFFFFF;
    margin: 2% 7.5%;
    text-decoration: none;
    border-radius: 25px;
    width: 15%;
    padding: 1.5% 2%;
    font-size: 1.2rem;
    line-height: 1.2;
}

.nav1  {
    display:inline-block;
    background-color:#FF764E;
}

.nav1:hover  {
    display:inline-block;
    background-color:#ffa68c;
    text-transform: uppercase;
}

.nav2  {
    display:inline-block;
    background-color:#5ED3EB;
}

.nav2:hover  {
    display:inline-block;
    background-color:#82d7e8;
    text-transform: uppercase;
}

.nav3  {
    display:inline-block;
    background-color:#FFCD69;
}

.nav3:hover  {
    display:inline-block;
    background-color:#ffe1a6;
    text-transform: uppercase;
}

.head-container {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 1% auto;
}

.head-image-container  {
    display: inline-block;
    width: 25%;
    margin: 3% auto;
    border-radius: 50%;
    overflow: hidden;
}

.head-image-container img  {
    border-radius: 50%;
    display: inline-block;
}

.head-info  {
    display: inline-block;
    width: 60%;
    margin: 3% 2%;
    line-height: 1.5;
}

.head-info h1  {
    font-size: 4rem;
    font-family: 'Chelsea Market', cursive;
    padding: 2.5% auto;
}

.head-info p  {
    font-size: 1.5rem;
    padding: 2.5% auto;
}

.section-one  {
    background-color: #DDB9A3;
    font-size: 1.5rem;
    width: 95%;
    margin: 1% auto;
    padding: 2.5% 2.5%;
    color: #FFFFFF;
    line-height: 1.25;
}

.section-one p  {
    padding: 15% auto;
}



.foot-container  {
    background-color: ;
}

.image-one  {
    width: 40%;
}

.section-two  {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.fire, .rv  {
    margin: 10% 0 20% 0;
}

.section-two p  {
    display: block;
    font-size: 1.5rem;    
    text-align: center;
    margin: 0 auto;
}

.image-two  {
    width: 40%;
}

img .footer-valley  {
    height: 25%;
}

footer  {
    background-color: #F9E7DC;
    overflow: hidden;
}

.footer-image  {
    /*position: relative;*/
    width: 100%;
    height: 377px;
    /*display: inline;*/
    overflow: hidden;
}

.main  {
    margin: 2% auto;
}